<p><img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="160" height="160"/></p>

<br>
        <table class="table table-striped">
            <tr>
                <td>Office Phone:</td>
                <td><i class="icon-home"></i> <%= officePhone %></td>
            </tr>
            <tr>
                <td>Cell Phone:</td>
                <td><i class="icon-headphones"></i> <%= cellPhone %></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><i class="icon-envelope"></i> <a href="mailto:<%= email %>"><%= email %></a></td>
            </tr>
            <tr>
                <td>Search Jobs:</td>
                <td><a href='#employees/<%= id %>/searchJobs'>Search Jobs</a></td>
            </tr>
			<tr>
				<td>Post Job:</td>
				<td><a href='#employees/<%= id %>/postJob'>Post Job</a></td>
            </tr>
            <tr>
                <td>Applied Jobs</td>
                <td><a href='#employees/<%= id %>/jobApplicationStatus'>Applied Jobs</a></td>
            </tr>
            <tr>
                <td>My Jobs</td>
                <td><a href='#employees/<%= id %>/myJobs'>My Jobs</a></td>
            </tr>
        </table>